<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2>회원정보</h2>
    </div>

<!--
<h2 th:if="${param.status}" th:text="'수정 완료'"></h2>-->

    <div>
        <p th:text="|회원 명 : ${member.name}|">name</p>
    </div>
    <div>
        <p th:text="|매장명 : ${member.store}|">store name</p>
    </div>
<!--
<form action="/members/address/editForm" method="post">
    <input type="hidden" name="phone" th:value="${customer.phone}">
    <button type="submit">전화번호 수정</button>
</form>
<button type="button" onclick="location.href='/'">목록으로</button>-->

</div> <!-- /container -->
</body>
</html>